{% extends "admin_base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card shadow p-4">
            <h5>Total Orders</h5>
            <p>Manage all customer orders</p>
            <a href="/admin/orders" class="btn btn-primary">View Orders</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-4">
            <h5>Shop View</h5>
            <p>Check products page</p>
            <a href="/products" class="btn btn-primary">Go to Store</a>
        </div>
    </div>

</div>

{% endblock %}